$breakpoint: 900px;
$form-color: rgb(241, 240, 180);

$dark-blue: #446378;
$light-blue: #82a4b3;
$gray: #c9c9c8;
$light-gray: #efebda;
$cream: #f6debf;
$light-grayish-pink: #e0d0dd;
$title: #483c46;
$button-unable: #c9c9c8;

@mixin invalid-box {
  border: 3px solid red;
}

@mixin box {
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 16px;
  margin: 10px 0;
  font-size: 0.8em;
}
