@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
// main {
//   flex: 2;
// }
#container {
  margin: 20px;
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  // justify-content: center;
  grid-template-areas:
    "head"
    "main"
    "foot";
  row-gap: 15px;

  @media (min-width: $breakpoint) {
    margin: 20px 200px;
    font-size: 25px;
  }
}
