@import "variables";

#card {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "photo"
    "info";
  grid-gap: 10px;
  //   justify-content: center;
  width: 20em;
  margin-top: 20px;
  background-color: $light-blue;
  padding: 15px 15px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 2px #888888c0;
  //   @include box;

  @media (min-width: $breakpoint) {
    border-top: none;
    width: 20em;
    margin: 20px 60px;
  }
  #photo {
    grid-area: photo;
    img {
      display: block;
      margin-top: auto;
      height: auto;
      width: 100%;
      border-radius: 5px;
    }
  }

  #info {
    grid-area: info;
    font-size: 100%;
    background-color: snow;
    padding: 15px;
    border-radius: 5px;
    // @include box;
    border: 1px solid black;
    // width: 100%;
    p {
      font-weight: bold;
      margin-top: 0;
    }
    span {
      color: crimson;
    }
    table {
      background-color: transparent;
      border: none;
      td,
      th,
      tr {
        background-color: transparent;

        text-align: center;
        border: none;
      }
    }

    #wether-dis {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      p {
        margin-top: 16px;
      }
      img {
        // margin: auto;
        width: 17%;
      }
    }
  }
}
