@import "variables";

#usrform {
  grid-area: form;
  background-color: $form-color;
  // width: 100%;
  @include box;

  #note {
    color: red;
    padding: 10px 0;
  }

  form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "url"
      "textarea"
      "submit";
    // border: 1px solid #545454;
    border-radius: 3px;
    padding: 0 20px;
    // justify-content: center;

    #travel-location {
      grid-area: url;
      display: flex;
      flex-direction: column;
      #location {
        @include box;
      }
    }

    #travel-date {
      grid-area: textarea;
      display: flex;
      flex-direction: column;
      #date {
        @include box;
      }
    }

    button {
      @include box;
      grid-area: submit;
      font-size: 1em;
      background-color: blue;
      color: snow;
      width: 10em;
      padding: 10px;
    }
  }
}
