#head {
  grid-area: head;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;

  #ref {
    // display: flex;
    // flex-direction: row;
    display: block;
    justify-content: end;
    align-items: flex-end;
  }
}
