@import "variables";

main {
  border: 3px solid black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "form"
    "result";
  row-gap: 15px;
  grid-area: main;

  @media (min-width: $breakpoint) {
    // margin: 20px 200px;
    font-size: 25px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "result form"
      "result .";
    row-gap: 15px;
  }
}
